body {
    margin: 0 auto 0 auto;
    background-color: white;
    width: 750px;
}

#page {
    padding: 15px 0 50px 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 18px;
    position: relative;
}

#masthead, #sidebar, #content {
    position: relative;
}

#masthead {
    margin-left: -100px;
    padding-left: 100px;
    margin-right: -25px;
    padding-right: 25px;
    font-size: 72px;
    font-weight: bold;
    line-height: 68px;
    letter-spacing: -5px;
    border-bottom: solid 2px;
}

#masthead a {
    text-decoration: none;
    color: #000;
}

#sidebar {
    width: 175px;
    float: right;
}

#content {
    width: 525px;
}

.date-icon {
    margin-top: 23px;
    margin-left: -75px;
    font-size: 16px;
    font-weight: bold;
    float: left;
}

.date-date {
    font-size: 52px;
    color: #ccc;
}

.date-day {
    margin-top: -24px;
    margin-left: 15px;
    color: #666;
}

.date-month {
    margin-left: 15px;
}

.item {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: -1px;
}

.item img {
    padding: 3px;
    background: #bbb;
    max-height: 400px; 
    max-width: 400px; 
    overflow: hidden;
}

.author {
    padding-left: 5px;
    font-size: 18px;
    color: #aaa;
}

.link a {
    font-weight: bold;
    text-decoration: none;
    color: #6c3;
}

.text {
    font-weight: bold;
    text-decoration: none;
    color: #aaa;
}

.quote {
    padding-left: 30px;
    font-weight: bold;
    color: #d5b;
    background: url(http://tumble.stahnkage.com/img/parens.gif) no-repeat;
}

.header {
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -1px;
    color: #aaa;
    text-align: right;
}

#search-form {
    padding-bottom: 15px;
    text-align: right;
}

.sm {
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 14px;
    letter-spacing: -1px;
    text-align: right;
}
