<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
    <title>tumblefish buttons</title>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24593498-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="http://{{.BaseURL}}/css/screen.css" type="text/css" media="screen" />
    <!-- Theme Init -->
    <script>
      (function () {
        var savedTheme = localStorage.getItem("theme");
        var prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)"
        ).matches;
        if (savedTheme === "dark" || (!savedTheme && prefersDark)) {
          document.documentElement.setAttribute("data-theme", "dark");
        }
      })();
    </script>
</head>

<style>
    /* Prevent grid rows from stretching to fill the page height */
    #page { align-content: start; }
</style>

<body>
{{template "header" .}}
    <div id="page">
        <div id="masthead">
            <a href="/">tumblefish.</a>
        </div>
        {{if .User}}
        <div id="content">
            <div class="tumble_date">
                <div class="tumble_date_date">!!</div>
                <div class="tumble_date_mon">buttons</div>
                <div class="tumble_date_day">yay!</div>
            </div>
            <div class="tumble_item_quote">
                <div class="tumble_item_top"></div>
                <span class="tumble_item_quote_quote">So how do I install this crap??</span>
                <div class="tumble_item_bottom"></div>
            </div>
            <div class="tumble_item_ircLink">
                <div class="tumble_item_top"></div>
                <span class="tumble_item_ircLink_title">
                    Drag this link: <a href="javascript:location.href='http://{{.BaseURL}}/irclink/?user={{.User}}&source=web&url='+encodeURIComponent(location.href)" onclick="window.alert('No clicky! Drag this link to your Bookmarks toolbar or menu, or right-click it and choose Bookmark This Link...');return false;">post to tumblefish!</a> up to your Bookmarks toolbar or menu.
                </span>
                <div class="tumble_item_bottom"></div>
            </div>
            <div class="tumble_item_ircLink">
                <div class="tumble_item_top"></div>
                <span class="tumble_item_ircLink_title">PS - Unfortunately, tumblebuttons don't work with Microsoft Internet Explorer.  MSIE sucks.  Stop using it.</span>
                <div class="tumble_item_bottom"></div>
            </div>
            <div class="tumble_item_ircLink">
                <div class="tumble_item_top"></div>
                <span class="tumble_item_ircLink_title">PPS - If your name is Greg Buchanan and you just read the above postscript, you can suck my ass.</span>
                <div class="tumble_item_bottom"></div>
            </div>
        </div>
        {{else}}
        <div id="content">
            <div class="tumble_date">
                <div class="tumble_date_date">!!</div>
                <div class="tumble_date_mon">buttons</div>
                <div class="tumble_date_day">yay!</div>
            </div>
            <div class="tumble_item_quote">
                <div class="tumble_item_top"></div>
                <span class="tumble_item_quote_quote">WTF is a tumblebutton?!?</span>
                <div class="tumble_item_bottom"></div>
            </div>
            <div class="tumble_item_ircLink">
                <div class="tumble_item_top"></div>
                <span class="tumble_item_ircLink_title">Buttons (bookmarklets) are links you add to your browser's Bookmarks toolbar or menu.  They are an easy way to post your awesome links to tumblefish.</span>
                <div class="tumble_item_bottom"></div>
            </div>
            <div class="tumble_item_ircLink">
                <div class="tumble_item_top"></div>
                <span class="tumble_item_ircLink_title">To get started, type your name in the box below.</span>
                <div class="tumble_item_bottom"></div>
            </div>
            <div class="tumble_item_ircLink">
                <div class="tumble_item_top"></div>
                <span class="tumble_item_ircLink_title"><form method="post" action="button.cgi" name=""><input name="user" /><input type="submit" name="" value=" GO!! " /></form></span>
                <div class="tumble_item_bottom"></div>
            </div>
        </div>
        {{end}}
    </div>
{{template "footer" .}}
</body>

</html>
