!!! Strict
%html
  %head
    %title tumblefish.
    %script{:type => 'text/javascript'}
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-896541-4']);
      _gaq.push(['_setDomainName', '.wcyd.org']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    %link{:rel => "stylesheet", :href => "/css/screen.css", :type => "text/css", :media=> "screen"}
  %body
    #page
    #masthead
      %a{:href => "/"}tumblefish.
    #sidebar
      .item
        .header search it up
        %form{:id => 'search-form', :method => 'get', :action => '/search'}
          %input{ :type=> "text", :id => "search", :name => "search", :value => "", :size => "15"}
      .item
        .header last week's hot shit
      .item
        .header also
        .sm
          .link
            %a{:href=>"/buttons/"}buttons
        .sm
          .link
            %a{:href=>"/feed.xml"}feed
    #content
      - @items.each do |i|
        .item
          -case i['type']
          - when 'quote'
            .quote
              =i['quote']
          - when 'link'
            .link
              %a{:href => "irclink/#{i['_id']}" }
                =i['title']
          .author
            =i['author']
    #footer
      - if @prevpage >= 0
        %a{:href => "/#{@prevpage}"}
          %img{:src=>"/img/prev.jpg",:border=>"0"}
      %a{:href => "/#{@nextpage}"}
        %img{:src=>"/img/next.jpg",:border=>"0"}

